<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dice Game || v2</title>

    <style>
      .font-nunito {
        font-family: "Nunito", sans-serif;
      }
    </style>
  </head>
  <body
    class="font-nunito bg-gradient-to-br from-[#bf2e34] to-[#753682] h-screen flex items-center justify-center py-6 text-[#333]"
  >
    <main
      class="w-full max-w-[1000px] mx-8 h-full rounded-lg overflow-hidden shadow-md flex"
    >
      <div
        class="bg-[#ffffff59] w-full h-full flex flex-col items-center py-20"
      >
        <h1 class="text-3xl mb-4 sm:mb-0 sm:text-4xl font-bold">PLAYER 1</h1>
        <p class="text-6xl sm:text-[86px] text-[#c7365f]">20</p>
        <div
          class="bg-[#c7365f] flex flex-col items-center justify-center px-3 py-2 sm:px-6 sm:py-4 uppercase text-white mt-auto rounded-md"
        >
          <span class="text-lg sm:text-xl font-light mb-2">Current</span>
          <p class="text-3xl sm:text-4xl font-medium">0</p>
        </div>
      </div>

      <!-- player 2  -->
      <div
        class="bg-[#ffffff3b] w-full h-full flex flex-col items-center py-20"
      >
        <h1 class="text-3xl mb-4 sm:mb-0 sm:text-4xl font-bold">PLAYER 2</h1>
        <p class="text-6xl sm:text-[86px] text-[#c7365f]">20</p>
        <div
          class="bg-[#c7365f] flex flex-col items-center justify-center px-3 py-2 sm:px-6 sm:py-4 uppercase text-white mt-auto rounded-md"
        >
          <span class="text-lg sm:text-xl font-light mb-2">Current</span>
          <p class="text-3xl sm:text-4xl font-medium">0</p>
        </div>
      </div>
    </main>
  </body>
</html>
