@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.app {
  font-family: "Nunito", sans-serif;
  height: 100vh;
  font-weight: 400;
  color: #333;
  background-image: linear-gradient(to left top, #753682 0%, #bf2e34 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
.playground {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: #ffffff59;
  border-radius: 0.9rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

/* ELEMENTS */
.name {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-bottom: 1rem;
}

.score {
  font-size: 8rem;
  font-weight: 400;
  color: #c7365f;
  margin-bottom: auto;
}

.player--active {
  background-color: #ffffff66;
}

.player--active .name {
  font-weight: 700;
}

.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #c7365f;
  opacity: 0.8;
  width: 65%;
  padding: 2rem;
  color: #fff;
  text-align: center;
  border-radius: 9px;
  transition: all 0.75s;
}

.current-label {
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONING ELEMENTS */
.btn:link,
.btn:visited {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 400;
  color: #444;

  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 1rem 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
  cursor: pointer;
}

.btn::first-letter {
  display: inline-block;
  font-size: 2.4rem;
  margin-right: 0.7rem;
}

.btn--new {
  top: 4rem;
}

.btn--roll {
  top: 39.3rem;
}

.btn--hold {
  top: 46.1rem;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.dice {
  height: 10rem;
  position: absolute;
  top: 16.5rem;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

.hidden {
  display: none;
}
